:root {
    --ui-primary-color: #FF9E0F;
    --ui-secondary-color: #1F1F1F;
    --ui-tertiary-color: #1A1A1A;
}

body {
    background-color: #EEEEEE;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#controlpanel {
    background-color: white;
    width: 362px;
}

#tabbar {
    width: 100%;
    border-spacing: 0;
    background-color: #EEEEEE;
}

#tabbar td {
    padding: 5px;
    text-align: center;
    user-select: none;
}

#tabbar td:hover {
    background-color: #FAFAFA;
}

#controlpanel div {
    display: none;
    padding: 10px;
    overflow-y: auto;
}

#exportpanel {
    text-align: center;
}

#right_cell {
    width: 0;
    vertical-align: top;
    background-color: white;
    padding: 0;
}

#leftwrap {
    position: relative;
    overflow: hidden;
}

.controlpoint {
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: solid #3b7dee 4px;
    border-radius: 100vmax;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#leftwrap:hover .controlpoint {
    opacity: 1!important;
}

svg {
    display: none;
}

#imgpreview {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 690px) {
    #right_cell, #left_cell {
        display: table-row!important;
    }
    #right_cell {
        height: 100%;
    }
    #top_row {
        display: table;
        height: 100%;
    }
}