body {
    background-color: #EEEEEE;
    margin: 0;
}

#controlpanel {
    background-color: white;
}

#tabbar {
    width: 100%;
    border-spacing: 0;
    background-color: #EEEEEE;
}

#tabbar td {
    padding: 5px;
    text-align: center;
    user-select: none;
}

#tabbar td:hover {
    background-color: #FAFAFA;
}

#controlpanel div {
    display: none;
    padding: 10px;
}